/* Basic reset and global settings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
    line-height: 1.6;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Header and navigation styles */
header {
    background: #000;
    color: #fff;
    padding: 5px 15px; /* Reduced vertical padding for a thinner header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; /* Ensures the header stretches fully across */
}

header .logo {
    width: 200px; /* Further increased width for the logo */
}

nav ul {
    display: flex;
    align-items: center; /* Aligns items vertically */
}

nav ul li {
    margin-left: 10px; /* Reduced margin to save horizontal space */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em; /* Reduced font size to prevent cutting off */
}

/* Main content and sections */
main {
    padding: 20px;
}

.hero-image {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-height: none;
    height: auto;
    object-fit: cover;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #0078d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background: #0056a3;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 20px;
    background: #000;
    color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0; /* Adjusts margin for mobile */
    }

    header . logo {
        margin-bottom: 10px; /* Adds margin below the logo on mobile */
        width: 100%; /* Sets logo width to 100% on mobile for better visibility */
    }

    nav ul li a {
        font-size: 1em; /* Adjust font size for better readability on mobile */
    }
}
